body {
  font-family: 'Playfair Display', sans-serif;
  padding: 2rem;
  background: linear-gradient(135deg, #f5f2ef, #e8d8c3);
  color: #333;
}
.thai {
  font-family: "Noto Sans Thai", sans-serif;
}
.hide {
  display: none;
}
#product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.product,
.banner {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 2rem;
  min-width: 300px;
  max-width: 400px;
  height: fit-content;
  flex: 1 1 30%;
  background: #fefefe;
  padding: 25px;
  box-sizing: border-box;
  text-align: center;

  .slider-container {
    display: grid;
    align-items: center;
    gap: 20px;

    img {
      width: 100%;
      height: auto;
      max-width: 600px;
      transition: opacity 0.5s ease-in-out;
      opacity: 0;

      &.show {
        opacity: 1;
      }
    }

    .slider-btn {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
    
    .slider-btn:hover {
      background-color: #0056b3;
    }
  }

  .details {
    display: inline-grid;
    grid-template-columns: max-content;
    align-items: center;
    grid-gap: 5px;

    .product-price {
      grid-row: 1;
      font-weight: 600;

      &.EUR:before {
        content: "€";
      }
    }

    .vat {
      grid-row: 2;
      font-size: 0.6em;
    }

    .button {
      grid-row: 3;
      padding: 10px;
    }
  }
}
