@font-face {
  font-family: "Gilroy";
  src: url("/public/fonts/Gilroy-Light.otf") format("opentype");
  font-weight: 300; /* Gilroy Light is typically a font-weight of 300 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Verdana";
  src: url("/public/fonts/verdana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  font-family: "Gilroy", sans-serif;
  padding: 2rem;
  background: linear-gradient(135deg, #f5f2ef, #e8d8c3);
  color: #333;
}
.the-bond {
  font-family: "Verdana", sans-serif;

  @media screen and (max-width: 695px) {
    text-align: center;
  }
}
.home-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-image: url('images/icons/home.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.hide {
  display: none;
}
#product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.product,
.banner {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 2rem;
  min-width: 300px;
  max-width: 400px;
  height: fit-content;
  flex: 1 1 30%;
  background: #fefefe;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;

  .product-title {
    margin-bottom: 0;
  }

  .slider-container {
    position: relative;
    display: grid;
    align-items: center;
    gap: 20px;

    img {
      width: 100%;
      height: auto;
      max-width: 600px;
      transition: opacity 0.5s ease-in-out;
      opacity: 0;

      &.show {
        opacity: 1;
      }
    }

    .slider-btn {
      cursor: pointer;
      border: none;
      position: absolute;
      width: 45px;
      height: 45px;

      background-color: rgba(0, 0, 0, 0.05);
      background-image: url('images/icons/slider-button.svg');
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;

      &.previous-btn {
        transform: translateY(-50%) rotateY(180deg);
        left: 0;
        top: 50%;
      }

      &.next-btn {
        right: 0;
      }
    }
  }

  .red-dot-icon {
    display: inline-block;
    position: relative;
    width: 13px; /* Adjust the width and height for size */
    height: 13px;
    margin-left: 10px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 13px; /* Same size as the parent */
      height: 13px;
      background-color: #DC143C;
      border-radius: 50%; /* This makes it a perfect circle */
      transform: translate(-50%, -50%); /* Centers the dot */
    }
  }

  .details {
    display: inline-grid;
    grid-template-columns: max-content;
    align-items: center;
    grid-gap: 5px;

    .product-price {
      grid-row: 1;
      font-weight: 600;

      &.EUR:before {
        content: "€";
      }
    }

    #vat {
      grid-row: 2;
      font-size: 0.6em;

      &:before {
        content: '(incl. ';
      }

      &:after {
        content: '% VAT)';
      }
    }

    button.stripe-link {
      background-color: rgb(0, 116, 212);
      color: white;
      border-radius: 5px;
      width: 150px;
      max-width: 300px;
      height: 35px;
      border: none;
      font-weight: bold;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      .icon {
        width: 15px;
        height: 15px;
        background-image: url('images/icons/credit-card.svg');
        background-size: 100%;
        background-repeat: no-repeat;
      }

      .loader {
        border: 3px solid #f3f3f3; /* Light grey border */
        border-top: 3px solid #3498db; /* Blue border for the spinning part */
        border-radius: 50%;
        width: 9px;
        height: 9px;

        /* Initially hide the spinner */
        display: none;

        /* Animation definition */
        animation: spin 1s linear infinite;

        &.loading {
          display: inline-block;
        }
      }
    }

    .button {
      grid-row: 3;
      padding: 10px;
    }

    .via-stripe {
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .stripe-icon {
        width: 30px;
        height: 14px;
      }
    }
  }

  .search-section {
    margin: 20px 35px;
    .search-box {
      width: 100%;
      padding: 10px 15px;
      border: 1px solid #ddd; /* A very light gray border */
      border-radius: 5px; /* Subtle rounded corners */
      font-family: Arial, sans-serif; /* Matches the body text font */
      font-size: 16px;
      box-sizing: border-box; /* Ensures consistent sizing */
      transition: border-color 0.3s ease-in-out;
      text-align: center;

      &:focus {
        border-color: #72a9e3; /* A soft blue border to match the button color */
        outline: none; /* Removes the default browser outline */
        box-shadow: 0 0 5px rgba(114, 169, 227, 0.5); /* A gentle glow effect */
      }
    }
  }
}
