body {
  font-family: 'Playfair Display', sans-serif;
  padding: 2rem;
  background: linear-gradient(135deg, #f5f2ef, #e8d8c3);
  color: #333;
}
.thai {
  font-family: "Noto Sans Thai", sans-serif;
}
#product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.product,
.banner {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 2rem;
  min-width: 300px;
  max-width: 400px;
  height: fit-content;
  flex: 1 1 30%;
  background: #fefefe;
  padding: 25px;
  box-sizing: border-box;
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }

  form {
    display: inline-grid;
    grid-template-columns: max-content;
    align-items: center;
    grid-gap: 5px;

    .product-price {
      grid-row: 1;
      font-weight: 600;

      &::before {
        content: "€";
      }
    }

    .vat {
      grid-row: 2;
      font-size: 0.6em;
    }

    .button {
      grid-row: 3;
      padding: 10px;
    }
  }
}
